# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env

# Mac system files and settings
.DS_Store
build/

# IDE settings
.idea/
.vscode/

# Python packaging junk
*.egg-info/